@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

html,
body {
	margin: 0;
	font-family: "Poppins", sans-serif !important;
}

code {
	font-family: "Poppins", sans-serif !important;
}

.titleSize {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.end {
	text-align: center;
	padding-top: 50px;
}

.infinite-scroll-component {
	overflow: hidden !important;
}

.loader {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.ads {
	position: fixed;
	top: 28%;
	left: 34%;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.ads img {
	height: 300px;
}

.ads-close {
	position: absolute;
	right: -11px;
	top: -13px;
}
.ads-close:hover {
	cursor: pointer;
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
